body {
  font-family: "Montserrat", sans-serif;
}
.section-search input {
  padding: 2px !important;
  font-size: 16px !important;
  width: 90% i !important;
  border: #f4f4f4 3px solid !important;
  border-radius: 25px !important;
}

.section-follow .fa-4x {
  margin: 5px 15px;
}

.fa-2x {
  margin: 24px 10px;
}
a:hover {
  color: #00ffff !important;
}

i:hover {
  color: #00ffff !important;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
